.references-container{
    width: 1000px;
    height: 350px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.reference-image{
    height: 100%;
    width: auto;
}

.text-reference-container{
    text-align: center;
    padding: 40px;
    font-weight: 400;
    line-height: 1.5rem;
    width: 100%;
}

.reference-name{
    font-size: 1.3rem;
}

.Level{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 40px;
}

.reference-description{
    font-size: 1rem;
    text-align: justify;
    padding: 0 5%;
}